<!DOCTYPE html>
<html>

<head>
    <title>
        Software suggestions
    </title>
    {{> stylesheet }}
</head>

<body>
    {{> header }}
    <div class="container">
        <div class="page-header m-t-1">
            <h1>
                {{ title }}
            </h1>
        </div>
    </div>
    {{> footer}}
    {{> javascript }}
</body>

</html>